body{
	font-family:Georgia, Times, serif;                                                                                                                                                                                                                                                                                    
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#333;
}


h1,h2,h3,h4,h5,h6 {
	color:#333;
	line-height:1.1em;
}

p {
	color:#333;
}
a {
    text-decoration:none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
	color:#333;
}
a:hover {
  text-decoration: none;
  color:#fff;
}

hr {
	margin-top:20px;
	margin-bottom:50px;
}

/* ==== HEADER ====*/
header{
	background: #f2f2f2;

}

.first-div{
	background-color: #f2f2f2;
	width:100%;
	height:130px;
}

.search-btn{
	width:10% auto;
    background:##2B616D;
	color: #fff;
}

.search-btn:hover{
	opacity:0.8;
	color: #fff;
}

.glyphicon-search{
	color: #fff;
	position:relative;
}

.logo img{
	float:left;

	padding:0 0 10px 0;
	margin-left: 100px;
}

.top{
	float:right;
}

.top form{
	float: right;
}

.top-menu{
	float:right;
	color:#e46142;
	font-size: 14px;
}

.top-menu ul li {
	display: inline-block;
}
.top-menu ul li a {
	color:#000;
	display: block;
	margin:10px 15px;
}
.top-menu li> a i:hover {
	color: #e46142;
	text-decoration:none;
}

.top-menu li> a:hover {
	color: #e46142;
	text-decoration:none;
}
.top-menu .dropdown-menu li{
	background: #2B616D;
	width: 100%;
}

.top-menu .dropdown-menu li a{
	color: #fff;
}

.top-menu .dropdown-menu li a:hover{
	color: #ff6;
	background: #2B616D;
}

/* ==== NAVBAR ====*/
.admin{
	display: inline-block;
	color: #2B616D;
	padding: 15px;
}
nav.navbar.navbar-default{
	background: #2B616D;

}
.navbar-collapse .collapse{
	padding-bottom:1000px;
}
.navbar-header .toggle{
	float:left;
	margin-left:20px;
	background: #fff;
}

.nav .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
	background: #ffffff;
}

.dropdown-menu a{
	height:40px;
	background: #2B616D;
}

#top-menu li a{
	color: #fff;
}

#top-menu li.active a{
	background:#2B616D;
	color:#ff6;
}
#top-menu a:hover{
	background:#2B616D;
	opacity:0.8;
	color:#ff6;
}
.navbar-collapse{
	box-shadow:none;
}

/* ===== SLIDER ==== */

a .glyphicon-chevron-right{
	color: #fff;
	background: #2B616D;
	border-radius:50%;
}

a .glyphicon-chevron-left{
	color: #fff;
	background: #2B616D;
	border-radius:50%;
}

.main-slider{
	background:#2B616D;
}

.main-slider img{
	width:100%;
	height: 100%; 
}

.main-slider .flex-caption {
	background:none;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	zoom: 1;
}
.main-slider .flex-caption {
	bottom: 35px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	margin: 0 150px 0 0;
	padding: 25px 15px 25px 30px;
	position: absolute;
	right: 0;
	width: 350px;
	height:180px;
}
.main-slider .flex-caption h3 {
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 8px;
	text-transform: uppercase;
}
.main-slider .flex-caption p {
	margin: 0 0 50px;
	color:#ff6;
	font-size:20px;
}

/* ===== MAIN PRODUK ====*/
.main-produk{
	margin-top:50px;
}

.main-produk h3{
	font-size:25px;
	margin-left:50px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
	text-align:center;
	background: #ffffff;
}
.card:hover{
	width:101%;
}

.card img{
	height: 180px;
}

.card1 img{
	height: 510px;
	width: 100%;
	border-radius: 5px;
}

.card h4{
	padding:0 0 10px 0;
}

.card button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #2B616D;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover{
	opacity:0.8;
}

.more{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:  #2B616D;
    text-align: center;
    cursor: pointer;
    width: 22%;
    font-size: 18px;
}
.more:hover{
	opacity:0.8;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.card img {
    border-radius: 5px 5px 0 0;
	width:100%;
}

.card img:hover{
	opacity:0.8;
}

 
/* ==== PRODUCT ====*/
.product{
	display:block;
	margin: 20px 0 50px 0;
	background: #ffffff;
	width:100%;
	padding:20px;
	border-radius:5px;
}

.product h3{
	text-align: center;
}

.product .card:hover{
	width:100%;
}

.product .btn-tambah{
	margin: 0 0 10px 0;
	background: #2B616D;
	cursor: pointer;
	color: #fff;
	float: right;
}

.product .btn-tambah:hover{
	opacity:0.8;
	color: #fff;
}


/* ==== HELP =====*/
.komentar{
  display:block;
  margin: 50px 0 50px 0;
  background: #f2f2f2;
  width:100%;
  padding:20px;
  border-radius:5px;
}
.komentar h3{
	text-align:center;
	margin:0 0 20px 0;
}
.btn-komentar{
	margin: 0 0 10px 0;
	background: #fd704e;
	cursor: pointer;
	color: #fff;
}

.btn-komentar:hover{
	opacity:0.8;
	color: #fff;
	
}

.heading{
	background-color: #55ACEE;
	color:#fff;
	padding:10px 0 10px 0;
	text-align:center;
	height:50px;
}

/* ==== ABOUT =====*/
.about{
	margin:20px 0 50px 0;
	background: #f2f2f2;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
}
.about h3{
	text-align:center;
	margin:0 0 20px 0;
}

.about p{
	font-size:20px;
}

.about img{
	width:100%;
}

.developer{
	padding: 0 0 50px 0;
}

.developer img{
	width: 250px;
	border-radius: ;
}

/* ==== TRANSAKSI ==== */
.transaksi{
	margin: 50px 0 50px 350px;
	background: #f2f2f2;
	padding: 10px 10px 10px 60px;
	border-radius: 5px;
	width:520px;
}

.transaksi h3{
	font-size: 30px;
	text-align :center;
	margin: 0 0 20px 0;
}
.transaksi p{
	font-size: 20px;
}

/* ==== BUY ====*/
.pesan{
  display:block;
  margin: 0 0 0 0;
  background: #f2f2f2;
  width:100%;
  padding:20px;
  border-radius:5px;
}

/* ==== MODAL ==== */

.modal-header{
	background: #fd704e;
}
.modal-header h3{
	color: #fff;
	font-size: 25px;
	text-align: center;
}

/* ==== LOGIN =====*/

.form{
	padding: 0 0 1em 0;
	width:80%;
	margin:100px auto;
	text-align: center;
	background: linear-gradient(to bottom, rgba(250,97,66,44), rgba(200,0,10,0.3));
	background-size: cover;
	border-radius: 5px;
}

.form .first-login{
    color: #333;
}

.form .icon-login{
	width: 105px;
	height: 90px;
	border-radius:100%;
}

.form .first-row{
    border-bottom:1px solid rgba(0,200,255,0.4);
    padding:1em 0;
    border-radius: 5px 5px 0 0;
    background: rgba(0,0,0,0.2);
}

.form .first-row h2{
    color:#ddd;
}

.form .input-group{
    padding:0.5em 2em;
}

.form .input-group input{
    border:1px solid #007CFF;
    height:3em;
    font-size: 18px;
}

.form .input-group .form-control{
    color:#007CFF;
}

.form .input-group .input-group-addon{
	background-color: #ddd;
	border:1px solid #007CFF;
	border-left: none;
	color:#007CFF;
}


.login-btn{
	width: 40%;
	background:#e46142;
	color:white;
}

.login-btn:hover{
	opacity:0.8;
}



/* ==== SECTION BOX ====*/

section.box {
	background-color:#f2f2f2;
	text-align:center;
	padding-top:10px;
	padding-bottom:1px;
}

.services  {
	text-align:center;
}
.services p {
	margin-bottom:30px;
	margin-top:30px;
	color:#090909;
	text-align:center;
}
.icons i {
	padding:15px;
	border-radius:50%;
	color:#fff;
	background-color:#2B616D;
	border-color:#ccc;
	margin-top:30px;
	margin-bottom:30px;
	box-shadow: 0 0 0 8px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}
.icons i:hover {
	background-color:#fff;
	color: ##2B616D;
}

/* ==== GOOGLE MAP ==== */

.map{ 
	width:100%;
}

.map h3{
	text-align: center;
	font-size: 30px;
	padding: 0 0 40px 0;
}	


/* ==== SCROLL UP BUTTON ==== */
.scrollup{
	position:fixed;
	width:32px;
	height:32px;
	bottom:0px;
	right:20px;
	background: #2B616D;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius:  2px 2px 0 0;
}

a.scrollup {
	outline:0;
	text-align: center;
	width:45px;
	height:50px;
}

a.scrollup:hover,a.scrollup:active,a.scrollup:focus {
	opacity:1;
	text-decoration:none;
}
a.scrollup i {
	margin-top: 10px;
	color: #ff6;
}
a.scrollup i:hover {
	text-decoration:none;
}

.pg-titl-bdr-btm{
	width: 100px;
	height: 3px;
	background-color: #2B616D;
	margin:0 0 10px 32px;
}

.pg-titl-bdr-btms{
	width: 152px;
	height: 3px;
	background-color: #2B616D;
	margin:0 0 10px 32px;
}

.pg-titl-bdr-bta{
	width: 100px;
	height: 3px;
	background-color: #2B616D;
	margin:0 0 10px 510px;
}

.pg-titl-bdr-bte{
	width: 100px;
	height: 3px;
	background-color: #fd704e;
	margin:0 0 10px 500px;
}

.pg-titl-bdr-btad{
	width: 100px;
	height: 3px;
	background-color:#2B616D;
	margin:0 0 10px 536px;
}

.pg-titl-bdr-btv{
	width: 100px;
	height: 3px;
	background-color: #2B616D;
	margin:0 0 10px 169px;
}

.pg-titl-bdr-btt{
	width: 100px;
	height: 3px;
	background-color: #2B616D;
	margin:0 0 10px 610px;
}

.about .panel .panel-body1{
	padding:15px;
	height: 15px;
	position:relative;
}

.about .panel .panel-body{
	height: 75px;
	position:relative;
}

.about .panel .panel-footer{
	height: 100px;
 }
 
.konten{
	text-align:justify;
}
 
/* ==== HEADLINE ==== */

#inner-headline{
	background: #f2f2f2;
	position:relative;
	margin:0;
	padding:0;
	color:#fff;
}

#inner-headline .inner-heading h2 {
	color:#fff;
	margin:20px 0 0 0;
}

/* --- breadcrumbs --- */
#inner-headline ul.breadcrumb {
	margin:15px 0 15px;
	float:left;
	background: #2B616D;
}

#inner-headline ul.breadcrumb li {
	margin-bottom:0;
	padding-bottom:0;
}
#inner-headline ul.breadcrumb li {
	font-size:13px;
	color: #ff6;
	font-weight: 600;
}

#inner-headline ul.breadcrumb li i{
	color:#fff;
	
}

#inner-headline ul.breadcrumb li a {
	color:#fff;
	
}

ul.breadcrumb li a:hover {
	text-decoration:none;
}



/* ==== FOOTER ====*/

footer{
	background: #2B616D;
}

.inner-footer {						/*Memgatur Footer yang berisi deskripsi*/
  padding: 20px 0 0;
}
.inner-footer  ul li,a  {
	 list-style:none;
}
.widgetheading {
  font-size: 22px;
  color: white;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 30px;

}
.f-about h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color:white;
	font-size:22px;

}
.f-about a h1 span {
	color: white;

}
.f-about p {
  font-size: 14px;
  color: white;
  text-align:justify;
}
.l-posts h3 {
	margin-left:40px;
}
.l-posts li a {
  font-size: 14px;
  color: white;
  margin: 0;
  font-weight: 300;
  border-bottom: 1px solid #2c2d2e;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
}

.l-posts li a:hover  {
  color: white;
}

.f-contact p {
  font-size: 14px;
  color: white;
  margin: 0;

  font-weight: 300;
  margin-bottom: 15px;
}

.f-contact i {
  color: #56595f;
  font-size: 16px;
  margin-right: 10px;
}

.f-contact a:hover p{
  color: white;
}

.last-div {
    background: #2f2f2f;
    padding: 20px 0;
    position: relative;
	height:100%;
}

.copyright {
    font-size: 14px;
    color: #fff;
    margin: 0;
    text-align:center;
    font-weight: 300px;
    float: left;
}
.copyright a{
    color: #8a8d94;
	text-align:center;
}
.copyright a:hover {
    text-decoration: underline;
    color: #e46142;
	text-decoration:none;
}

.social-media{
	float:right;
}
.social-media .fa {
    padding: 7px 5px 7px 5px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
	border-radius:50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
	color:white;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: red;
    color: white;
}
